/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */

      -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  /* 1 */
  overflow: visible;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */

  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  /* 1 */
          text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;
  /* 2 */

  -webkit-text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  color: #000000;
  background-color: #ffff00;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;

  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;

  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  /* 1 */
  outline-offset: -2px;

  -webkit-appearance: textfield;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;

  -webkit-appearance: button;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  /* 1 */
  display: table;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */

  white-space: normal;
  /* 3 */

  color: inherit;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */

  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

.navbar-social__container,
.navbar-primary__container {
  max-width: 1170px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-social__container,
.navbar-primary__container {
  display: grid;
}

.navbar-social__left,
.navbar-social__right,
.header-menu__list,
.header-menu__dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar-social {
  color: #767676;
  background-color: #1a0e36;

  font-size: 0.75rem;
  font-weight: 500;
}

.navbar-social__container {
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: minmax(36px, -webkit-max-content);
  grid-template-rows: minmax(36px, max-content);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 15px;
}

.navbar-social__weather-temperature {
  margin-right: 10px;
}

.navbar-social__today {
  padding-left: 5px;
}

.navbar-social__left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-social__left-item-link {
  display: block;

  padding: 5px 10px;

  color: #767676;
}

.navbar-social__left-item-link:hover,
.navbar-social__left-item-link:focus {
  color: #ffffff;
}

.navbar-social__right {
  padding-right: 15px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-social__right-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 5px 6.75px;

  color: #767676;
}

.navbar-social__right-item-link:hover img,
.navbar-social__right-item-link:focus img {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.navbar-social__login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #767676;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-social__login-link:hover,
.navbar-social__login-link:focus {
  color: #ffffff;
}

.navbar-social__login-link:hover img,
.navbar-social__login-link:focus img {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.navbar-social__login img {
  margin-right: 5px;
}

.navbar-primary {
  font-size: 0.875rem;
  font-weight: 500;
}

.navbar-primary__container {
  grid-template-columns: auto 1fr 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 15px;
}

.header-logo {
  padding: 1px 40.5px 0 1.5px;
}

.header-menu__item {
  position: relative;
}

.header-menu__item:hover,
.header-menu__item:focus {
  background-color: #f2f2f2;
}

.header-menu__item:hover a,
.header-menu__item:focus a {
  color: #1a0e36;
}

.header-menu__item.active {
  background-color: #1a0e36;
}

.header-menu__item.active a {
  color: #ffffff;
}

.header-menu__item.show {
  background-color: #f2f2f2;
}

.header-menu__item.show a {
  color: #1a0e36;
}

.header-menu__link {
  display: block;

  padding: 33px 15px 30px;

  color: #1a0e36;
}

.header-menu__dropdown-list {
  position: absolute;
  top: 101%;
  left: 0;

  display: none;
      flex-direction: column;

  min-width: 150px;

  background-color: #ffffff;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.header-menu__dropdown-item:hover,
.header-menu__dropdown-item:focus {
  background-color: #1a0e36;
}

.header-menu__dropdown-item:hover a,
.header-menu__dropdown-item:focus a {
  color: #ffffff;
}

.header-menu__dropdown-link {
  display: block;

  padding: 7.5px 15px;
}

.header-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-search__form:hover input,
.header-search__form:focus input {
  width: 100%;

  opacity: 1;
}

.header-search__input {
  display: block;

  width: 0;
  padding: 10px 15px;

  -webkit-transition: opacity 0.5s, width 0.5s;
       -o-transition: opacity 0.5s, width 0.5s;
          transition: opacity 0.5s, width 0.5s;

  opacity: 0;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#f7f7f7), to(transparent));
  background: -webkit-linear-gradient(left, #f7f7f7, transparent);
  background:      -o-linear-gradient(left, #f7f7f7, transparent);
  background:         linear-gradient(to right, #f7f7f7, transparent);

  font-size: 0.875rem;
}

.header-search__button {
  padding: 7px 7px 3px;

  cursor: pointer;

  border: none;
  background: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #090e1d;

  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}

body {
  min-height: 101vh;
}

a {
  text-decoration: none;
}