@font-face {
  font-family: Nunito;
  src: url(../../fonts/nunito/Nunito-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url(../../fonts/nunito/Nunito-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
